<%- include('../../partials/hopeNavbar') %>
  <%- include('../../partials/flash') %>

    <div class="card">
      <div class="card-body">
        <div class="container mb-5 mt-3">
          <div class="row d-flex align-items-baseline">
            <div class="col-xl-9">
              <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>ID: #123-123</strong></p>
            </div>
            <hr>
          </div>
          <form action="/expenses" method="post">
            <div class="container">
              <div class="row">
                <div class="col-xl-3">
                  <ul class="list-unstyled">
                
                        <li class="text-muted"><label for="clientName">Supplier Name:</label>  <div class="searchScreen">
                          <div class="searchInputBox">
                            <input type="text" class="searchInput form-control mb-2" id="clientName" name="clientName">
                              <div class="filterButton"></div>
                              <div class="queryBox">
                                  <div class="priceBox">
                                  </div>
                              </div>
                              <div class="searchRealButton"></div>
                              <div class="fakeBar"></div>
                          </div>
                          <ul class="autocompleteBox"></ul>
                      </div>
                    </li>
                    <li class="text-muted"><label for="address">Address:</label><input type="text"
                        class="form-control mb-2" id="address" name="clientAddress"></li>
                  </ul>
                </div>
                <div class="col-6"></div>
                <div class="col-xl-3">
                  
                  <div class="form-group">
                    <label class="form-label" for="date">Date Input</label> 
                    <% const today = new Date() %> 
                    <% const tomorrow  = new Date(today); %> 
                    <%tomorrow.setDate(tomorrow.getDate() + 1) %> 
                    <input type="date" class="form-control" id="date" name="date" value="<%=tomorrow.toISOString().substring(0,10)%>">

                </div>
                  <ul class="list-unstyled">
                  
                    <li> <input class="form-control"type="hidden" id="customerId" name="customerId">

                    </li>
                    
                    <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                        class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                        Unpaid</span></li>
                    
                  </ul>
                </div>
              </div>
              <div class="container border" id="itemsContainer">
                <div class="row my-2 mx-1">

                  <div class="col-4"><label for="item">Name:</label>
                    <div class="searchScreen">
                      <div class="searchInputBox">
                        <input type="text" class="searchInput form-control" name="1[name]"/>
                        <div class="searchRealButton"></div>
                        <div class="fakeBar"></div>
                      </div>
                      <ul class="autocompleteBox"></ul>
                    </div>
                  </div>
                  <div class="col-2"><label for="quantity">Quantity:</label><input class="form-control"
                      id="quantity" name="1[quantity]" value="1" type="number"></div>
                  <div class="col-1"><label for="amount">Amount:</label><input class="form-control"
                      id="amount" name="1[amount]" type="number" readonly></div>
                  <div class="col-2"><label for="price">Price:</label><input class="form-control"
                      id="price" name="1[price]" type="number" step=".01"></div>
                  <div class="col-2"><label for="total">Total:</label><input class="totalA form-control"
                      id="total" name="1[total]" value="1" step=".01"> 
                    </div>
                    
                  <div class="col-1">
                     <label for=""></label>
                     <button class="btn btn-danger deleteButton" type="button">DELETE</button>
                    </div>
                    <input type="hidden" name="1[id]">
                </div>
               
              </div>
              <button id="addNewItem" class="btn btn-primary mt-2" type="button" style="position:static">Add item</button>

              <div class="row">
                <div class="col-xl-8 form-group">
                  <label class="form-label" for="exampleFormControlTextarea1">Notes:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" name="notes" rows="5"></textarea>

                </div>
                <div class="col-xl-3">
                
                  <p class="text-black float-start"><span class="text-black me-3"> Total Amount:</span><span
                      style="font-size: 25px;"  id="totalAmount">0 PLN</span></p>
                      <input type="hidden" id="totalAmountAll" name="totalAmountAll">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xl-10">
               
                </div>
                <div class="col-xl-2">
                  <button type="submit" class="btn btn-primary text-capitalize" id="saveButton">Save</button>
                </div>
              </div>
          </form>

        </div>
      </div>
    </div>
    </div>
    <script src="/js/Corporate/saveA.js"></script>
    <script src="/js/Corporate/addItem.js"></script>
    <script src="/js/Corporate/MitemSearchSup.js"></script>
    


    <%- include('../../partials/hopeFooter') %>